{% extends "Countries/master.html" %}
{% load static %}
{% block content %}
<h1>All Countries</h1>
{% if countries %}
    <ul>
        {% for country in countries %}
            <li>
                <a href="/Countries/{{ country.pk }}/">
                    {{ country.name }}
                </a>
                — Capital: {{ country.capital }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No countries have been added yet.</p>
{% endif %}
{% endblock content %}